.button {
  display: block;
  width: 100%;
  max-width: 5em;
  padding: 10px 5px;
  margin: auto;
  margin-top: 2em;
  overflow: hidden;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 1.5rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;

  &:hover {
    color: #eee;
    background-color: #333;
    transition-timing-function: ease;
    transition-duration: 500ms;
  }

  &--valmynd {
    padding: 4px 8px;
    margin-top: 0;
    font-size: 1rem;

    @media (max-width: 400px) {
      display: none;
    }
  }

  &--bida {
    max-width: 8em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 2rem;
  }

  &--forsida {
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-fill-mode: forwards;
    animation-delay: 3s;
  }

  &--kaupa {
    min-width: 250px;
    margin-top: 0;
    margin-bottom: 100px;
    font-size: 1rem;

    @media (max-width: 550px) {
      margin-bottom: 20px;
    }
  }
}
