.button {
  display: block;
  width: 100%;
  max-width: 5em;
  padding: 10px 5px;
  margin: auto;
  overflow: hidden;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 1.5rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 2px;
  margin-top: 2em;

  &:hover {
    color: #eee;
    background-color: #333;
    transition-timing-function: ease;
    transition-duration: 500ms;
  }

  &--valmynd {
    display: block;
    width: 100%;
    max-width: 5em;
    padding: 4px 8px 4px 8px;
    margin: auto;
    overflow: hidden;
    font-family: Open Sans, helvetica, arial, sans-serif;
    font-size: 1rem;
    color: #eee;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }

  &--bida {
    width: 100%;
    max-width: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &--forsida {
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  &--kaupa {
    font-size: 1rem;
    min-width: 250px;
    margin-bottom: 100px;
    margin-top: 0;
  }
}
