    footer{
        width: 100%;
        background: #000;
        opacity: 0.8;
        margin-top: 1em;
    }

    .footerUpper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }

    .footerLeft{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        padding: 1em 3em;
    }

    .footerRight{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        padding: 1em 3em;
        overflow-wrap: break-word;
    }

    .footerUnder{
        display: flex;
        justify-content: center;
        color: white;
        opacity: 0.4;
        padding: 1em;
        padding-bottom: none;
        border-top: 1px solid rgb(255,255,255);
    }

    @media (max-width: 600px) {
      .footerLeft{padding: 1em 1em;}
      .footerRight{padding: 1em 1em;}
    }
