$gutter: 20px;

.form {
  display: flex;
  margin-top: 80px;

  @media (max-width: 550px) {
    display: block;
    margin-top: $gutter*2;
  }
}

.content-offset-1 {
  display: flex;
  width: 32.3%;
  flex-direction: column;
  border: none;
  margin-left: 8.3%;
  margin-right: $gutter;
  margin-bottom: $gutter*2;

  // @media (max-width: 1239px){
  //   margin-left: 8.3%;
  //   margin-right: $gutter/2;
  // }

  @media (max-width: 999px){
    width: 50%;
    margin-left: 0;
    margin-right: $gutter/2;
  }

  @media (max-width: 550px) {
    width: 100%;
    margin-right: 0;
  }
}

.content-offset-7 {
  display: flex;
  width: 32.3%;
  flex-direction: column;
  border: none;
  margin-left: 17%;

  // @media (max-width: 1239px){
  //   // margin-left: (2/12)*1%;
  // }

  @media (max-width: 999px) {
    width: 50%;
    margin-left: $gutter/2;
    margin-right: 0;
  }

  @media (max-width: 550px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: $gutter*2;
  }
}

.input {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  &__gender {
    justify-content: space-between;
    height: 150px;
    margin-left: 5px;
  }
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__expiry {
    justify-content: space-between;
  }
}

.inline-label {
  padding-left: 20px;
}

input {
  font-size: 1rem;
  padding: 3px 0 3px 4px;
  border-radius: 5px;
  border-style: solid;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.label {
  display: flex;
}

.dropselect {
  display: flex;
  font-size: 1rem;
  width: 100%;
  justify-content: space-between;

  &--expiry {
    width: 30%;
  }
}
