$gutter: 20px;

.form {
  display: flex;
  margin-top: 80px;

  @media (max-width: 550px) {
    display: block;
    margin-top: $gutter*2;
  }
}

.content {
  display: flex;
  width: 32.3%;
  border: 0;

  &--offset-1 {
    margin-right: $gutter;
    margin-bottom: $gutter*2;
    margin-left: 8.3%;
    flex-direction: column;

    @media (max-width: 999px) {
      width: 50%;
      margin-right: $gutter/2;
      margin-left: 0;
    }

    @media (max-width: 550px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &--offset-7 {
    display: flex;
    width: 32.3%;
    margin-left: 17%;
    flex-direction: column;
    border: 0;

    @media (max-width: 999px) {
      width: 50%;
      margin-right: 0;
      margin-left: $gutter/2;
    }

    @media (max-width: 550px) {
      width: 100%;
      margin-bottom: $gutter*2;
      margin-left: 0;
    }
  }
}

.input {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;

  &__gender {
    justify-content: space-between;
    height: 150px;
    margin-left: 5px;
  }
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__expiry {
    justify-content: space-between;
  }
}

.inline-label {
  padding-left: 20px;
}

input { /* stylelint-disable-line */
  padding: 3px 0 3px 4px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-radius: 5px;
}

.label {
  display: flex;
}

.dropselect {
  display: flex;
  width: 100%;
  font-size: 1rem;
  justify-content: space-between;

  &--expiry {
    width: 30%;
  }
}
