.heading {
  width: 100%;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  &--one {
    padding-right: 40px;
    overflow-wrap: break-word;
    font-size: 4rem;
    font-weight: 700;
  }

  &--two {
    font-size: 2rem;
  }

  &--forsidaone {
    font-size: 4rem;
    font-weight: 700;
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2s;

    @media (max-width: 450px) {
      font-size: 3rem;
    }
  }

  &--forsidatwo {
    font-size: 2rem;
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    @media (max-width: 450px) {
      font-size: 1.5rem;
    }
  }

  &--three {
    font-size: 24px;
  }

  &--four {
    padding-bottom: 1em;
    font-size: 1.5rem;
    font-style: italic;
  }

  &--five {
    padding-top: 5em;
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
  }

  &--form {
    padding-bottom: 20px;
    font-size: 1.5rem;
  }

}

.nafn {
  font-size: 21px;
  font-weight: 600;
}
