.heading {

  width: 100%;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;

  @-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  &--one {
    font-size: 4rem;
    font-weight: 700;
  }

  &--two {
    font-size: 2rem;
    }

  &--forsidaone {
    font-size: 4rem;
    font-weight: 700;
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  &--forsidatwo {
    font-size: 2rem;
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  &--three {
    font-size: 1rem;
  }

  &--four {
    font-size: 1rem;
    font-style: italic;
    padding-bottom: 2em;
  }

  &--five {
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 5em;
    text-align: center;
  }

  &--form {
    font-size: 1.5rem;
  }

}

.button--forsida {
  opacity: 0;
  animation: 1s fadeIn ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
