.heading {

  width: 100%;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;

  @-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  &--one {
    font-size: 4rem;
    font-weight: 700;
    overflow-wrap: break-word;
    padding-right: 40px;
  }

  &--two {
    font-size: 2rem;
  }

  &--forsidaone {
    font-size: 4rem;
    font-weight: 700;
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    @media(max-width: 400px){
      font-size: 3rem;
    }
  }

  &--forsidatwo {
    font-size: 2rem;
    opacity: 0;
    animation: 1s fadeIn ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    @media(max-width: 400px){
      font-size: 1.5rem;
    }
  }

  &--three {
    font-size: 21px;
  }

  &--four {
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 1em;
  }

  &--five {
    font-size: 21px;
    font-weight: bolder;
    padding-top: 5em;
    text-align: center;
  }

  &--form {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }

}

  .nafn{
  font-size: 21px;
  font-weight: 600;
  }
