.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;

  &--forsida {
    display: flex;
    height: 900px;
    background: transparent url("myndir/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 450px) {
      height: 475px;
      background-position: left;
    }
  }
}

.mynd {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;

  &__subpage {
    display: flex;
    max-width: 1200px;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: row;

    @media (max-width: 1240px) {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

.header--subpage {
  display: flex;
  height: 475px;
  background: transparent url("myndir/bg-subpage.jpg") no-repeat fixed 50% 50%;
  background-position: center;
  flex-wrap: wrap;
  background-size: cover;
  @media (max-width: 450px) {
    background-position: left;
    background-size: auto;
  }
}
