nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.nav{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;

  @media (max-width: 1239px){
    margin-left: 20px;
    margin-right: 20px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: black;
  opacity: 0.7;
}

.left{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-weight: bolder;
}

.right {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.nav__link {
  font-size: 24px;
  padding: 0;
}


a{
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.anchor__valmynd{
  font-family: 'Open Sans', sans-serif;
}
