.quote {
  float: right;
  width: 55%;
  padding-right: 30px;
  padding-left: 80px;
  margin: 50px 10px 50px 30px;
  font-size: 1.5rem;
  font-style: italic;

  @media (max-width: 560px) {
    float: none;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0;
    margin-left: 0;
  }

  @media (max-width: 680px) and (min-width: 561px) {
    width: 50%;
    padding-right: 0;
    padding-left: 40px;
  }

  @media (max-width: 1130px) and (min-width: 870px) {
    margin-bottom: 100px;
  }

  @media (max-width: 869px) and (min-width: 830px) {
    margin-bottom: 130px;
  }
}

.paragraph-quote {
  margin: 0; /* gets rid of the default blockquote margin */
}

.by {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
}
