.quote {
  float: right;
  width: 57%;
  margin: 50px 10px 60px 30px;
  font-size: 1.5rem;
  font-style: italic;
  padding-left: 80px;
  padding-right: 30px;

  @media(max-width: 400px){
      float: right;
      width: 100%;
  }
}

.quote .by{
  font-size: 1rem;
  font-style: normal;
  margin-top: 10px;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}
