.upprodun{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top: 8em;
}

.commentakerfi{
width: 50%;
margin-top: 7em;
margin-bottom: 5em;
}

.comment{
padding-right: 10px;
display: flex;
flex-direction: row;
align-items: flex-start;
margin-bottom: 4em;
}

.img_check{
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.image {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  width: 50%;
  height: 50%;
  padding-left: 10px;
  @media (max-width: 599px) {
    .image {
      width: 100%;
    }
  }
}

.profile{
display: flex;
flex-wrap: wrap;
flex-direction: row;
padding-top: 50px;
margin-left: -10px;
margin-right: -10px;
align-items: stretch;
}

.notandi{
display: flex;
flex-wrap: wrap;
flex-direction: column;
width: 33%;
padding-left: 10px;
padding-right: 10px;
justify-content: space-between;
text-align: center;
align-items: center;
}

.img_profile{
display: flex;
width: 75%;
border-radius: 50%;
margin-bottom: 2em;
}
