.upprodun{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 120px;

  @media (max-width: 800px) {
    display: block;
  }
}

.commentakerfi{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin-right: 10px;
  width: 50%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.comment{
  display: flex;
  flex-direction: row;
  padding-right: 10px;

  @media (max-width: 800px) {
    padding: 0;
  }
}

.img_check{
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.image {
  display: flex;
  width: 50%;
  height: 50%;
  margin-left: 10px;

  @media (max-width: 800px) {
    width: 100%;
    height: 100%;
    margin: 20px auto;
  }
}

.profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 50px;
  align-items: stretch;
  justify-content: space-between;
}

.notandi{
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px;

  @media (max-width: 900px) {
    width: 50%;
  }

  @media (max-width: 599px) {
    width: 100%;
    margin-top: 80px;
    padding: 0;
  }

  &__wrap {
    @media (max-width: 900px) {
      margin: 0 auto;
      padding-top: 80px;
    }
  }
}

.img_profile{
  display: flex;
  width: 75%;
  border-radius: 50%;
  margin-bottom: 2em;

  @media (max-width: 900px) {
    width: 100%;
  }

  @media (max-width: 599px) {
    width: 90%;
  }
}
