.commentakerfi{
display: flex;
padding-top: 50px;
margin-left: -10px;
margin-right: -10px;
}

.comment{
width: 50%;
padding-left: 10px;
padding-right: 10px;
}

.img_check{
  display: inline;
  width: 5%;
  padding-right: 5px;
}

.image {
  display: block;
  width: 50%;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.profile{
display: inline-flex;
padding-top: 50px;
margin-left: -10px;
margin-right: -10px;
justify-content: space-around;
align-items: flex-start;
}

.notandi{
width: 25%;
padding-left: 10px;
padding-right: 10px;
text-align: center;
}

.img_profile{
  display: block;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 2em;
}

.review__forsida{
display: flex;
flex-wrap: nowrap;
align-items: center;
}
