.upprodun{
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: stretch;
  margin-top: 8em;
}

.commentakerfi{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-right: 10px;
  width: 50%;
}

.comment{
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.img_check{
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.image {
  display: flex;
  width: 50%;
  height: 50%;
  margin-left: 10px;
}

// @media (max-width: 599px) {
//   .image {
//     width: 100%;
//   }
// }

.profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 50px;
  margin-left: -10px;
  margin-right: -10px;
  align-items: stretch;
}

.notandi{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.img_profile{
  display: flex;
  width: 75%;
  border-radius: 50%;
  margin-bottom: 2em;
}
